{% extends 'global/base.html' %}
{% load static %}

{% block title %}
    Cadastro
{% endblock %}

{% block body %}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">CADASTRO</p>
                                {% for message in messages%}
                                <div class="alert {{message.tags}}" role="alert">
                                  {{message}}
                                </div>
                                {% endfor %}
                                <form action="{% url 'register_user'%}" method="POST">{%csrf_token%}
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="text" id="name" name="name" class="form-control" />
                                            <label class="form-label" for="name">Seu Nome:</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="email" id="email" name="email" class="form-control" />
                                            <label class="form-label" for="email">Seu Email</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                          <input type="tel" id="phone" name="phone" class="form-control" />
                                          <label class="form-label" for="phone">Telefone</label>
                                      </div>
                                  </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="password" id="password" name="password" class="form-control" />
                                            <label class="form-label" for="password">Senha</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input type="password" id="confirmpw" name="confirmpw" class="form-control" />
                                            <label class="form-label" for="confirmpw">Repita sua Senha</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                                            <input  type="submit" data-mdb-button-init data-mdb-ripple-init class="form-control btn btn-primary btn-lg"/ value="CADASTRAR">
                                        </div>
                                    </div>
                                    <div style="display: flex; justify-content: center;">
                                        <a style="text-align: center;" href="{% url 'login' %}">voltar</a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
                                <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="ADJAF LOGO">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
